<!DOCTYPE html>
<!-- CSS StyleSheets -->
<link href="/Content/CSS/root.css" rel="stylesheet">

<!-- Libraries -->
<script type="text/javascript" src="/Scripts/Libraries/jquery/jquery-2.2.4.js"></script>
<script type="text/javascript" src="/Scripts/Libraries/jquery-ui/jquery-ui.min.js"></script>
<script type="text/javascript" src="/Scripts/Libraries/angular/angular.min.js"></script>
<script type="text/javascript" src="/Scripts/Libraries/angular/angular-ui-router.js"></script>
<script type="text/javascript" src="/Scripts/Libraries/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="/Scripts/Libraries/bootstrap-select/bootstrap-select.js"></script>
<script type="text/javascript" src="/Scripts/Libraries/bootstrap-toggle/bootstrap-toggle.min.js"></script>
<script type="text/javascript" src="/Scripts/Libraries/bootstrap-wysihtml5/wysihtml5-0.3.0.min.js"></script>
<script type="text/javascript" src="/Scripts/Libraries/bootstrap-wysihtml5/bootstrap-wysihtml5.js"></script>
<script type="text/javascript" src="/Scripts/Libraries/bootstrap/ui-bootstrap-tpls-0.14.3.min.js"></script>
<script type="text/javascript" src="/Scripts/Libraries/jquery-gridster/jquery.collision.js"></script>
<script type="text/javascript" src="/Scripts/Libraries/jquery-gridster/jquery.coords.js"></script>
<script type="text/javascript" src="/Scripts/Libraries/jquery-gridster/jquery.draggable.js"></script>
<script type="text/javascript" src="/Scripts/Libraries/jquery-gridster/utils.js"></script>
<script type="text/javascript" src="/Scripts/Libraries/jquery-gridster/jquery.gridster.js"></script>
<script type="text/javascript" src="/Scripts/Libraries/jquery.globalize/globalize.js"></script>
<script type="text/javascript" src="/Scripts/Libraries/dxDataGrid/jszip.js"></script>
<script type="text/javascript" src="/Scripts/Libraries/dxDataGrid/dx.webappjs.js"></script>
<script type="text/javascript" src="/Scripts/Libraries/tools.flashembed-1.0.4.min.js"></script>
<script type="text/javascript" src="/Scripts/Libraries/FABridge.js"></script>
<script type="text/javascript" src='/Scripts/Libraries/textAngular/textAngular-rangy.min.js'></script>
<script type="text/javascript" src='/Scripts/Libraries/textAngular/textAngular-sanitize.min.js'></script>
<script type="text/javascript" src='/Scripts/Libraries/textAngular/textAngular.min.js'></script>
<script type="text/javascript" src="/Scripts/Libraries/materialize/materialize.js"></script>
<script type="text/javascript" src="/Scripts/Libraries/Minicolors/angular-minicolors.js"></script>
<script type="text/javascript" src="/Scripts/Libraries/Minicolors/jquery.minicolors.js"></script>
<script type="text/javascript" src="/Scripts/Libraries/moment/moment.min.js"></script>
<script type="text/javascript" src="/Scripts/Libraries/moment/moment-tz.min.js"></script>
<script type="text/javascript" src="/Scripts/Libraries/fullcalendar/fullcalendar.min.js"></script>
<script type="text/javascript" src="/Scripts/Libraries/sc-date-time/sc-date-time.js"></script>
<script type="text/javascript" src="/Scripts/Services/opentok.min.js"></script>
<script type="text/javascript" src="/Scripts/Libraries/angular-strap/angular-strap.js"></script>
<script type="text/javascript" src="/Scripts/Libraries/angular-strap/angular-strap.tpl.js"></script>
<script type="text/javascript" src="/Scripts/Libraries/acute-select/acute.select.js"></script>
<script type="text/javascript" src="/Scripts/Libraries/angular/angular-ui.min.js"></script>
<script type="text/javascript" src="/Scripts/Libraries/jchartfx/js/jchartfx.system.js"></script>
<script type="text/javascript" src="/Scripts/Libraries/jchartfx/js/jchartfx.coreBasic.js"></script>
<script type="text/javascript" src="/Scripts/Libraries/jchartfx/js/jchartfx.coreVector.js"></script>
<script type="text/javascript" src="/Scripts/Libraries/jchartfx/js/jchartfx.advanced.js"></script>
<script type="text/javascript" src="/Scripts/Libraries/clipboard.min.js"></script>
<script type="text/javascript" src="/Scripts/Libraries/VideoJS/video.js"></script>
<script type="text/javascript" src="/Scripts/Libraries/RecorderRTC/RecordRTC.js"></script>
<script type="text/javascript" src="/Scripts/Libraries/RecorderRTC/gumadapter.js"></script>
<script type="text/javascript" src="/Scripts/Libraries/download.js/download.js"></script>

<script src="/Scripts/Services/bugsnag.v3.min.js" data-apikey="45c5a849e602af9ba7ba0e9c8b261c1a"></script>
<script type="text/javascript" src="/Scripts/Libraries/angular-bugsnag/angular-bugsnag.js"></SCRIPT>

<!-- Controllers -->
<script type="text/javascript" src="/Scripts/App.js"></script>
<script type="text/javascript" src="/Scripts/Controllers/DashboardController.js"></script>
<script type="text/javascript" src="/Scripts/Controllers/LoginController.js"></script>
<script type="text/javascript" src="/Scripts/Controllers/ModalController.js"></script>
<script type="text/javascript" src="/Scripts/Controllers/ContentController.js"></script>
<script type="text/javascript" src="/Scripts/Controllers/ThriveController.js"></script>
<script type="text/javascript" src="/Scripts/Controllers/NotificationsController.js"></script>
<script type="text/javascript" src="/Scripts/Controllers/SettingsController.js"></script>
<script type="text/javascript" src="/Scripts/Controllers/SearchController.js"></script>
<script type="text/javascript" src="/Scripts/Controllers/EmailTemplateController.js"></script>
<script type="text/javascript" src="/Scripts/Controllers/CandidateDashboardController.js"></script>
<script type="text/javascript" src="/Scripts/Controllers/PrivacyAndTermsController.js"></script>

<script type="text/javascript" src="/Scripts/Controllers/Hire/InterviewTemplateController.js"></script>
<script type="text/javascript" src="/Scripts/Controllers/Hire/ReviewerController.js"></script>
<script type="text/javascript" src="/Scripts/Controllers/Hire/ExternalReviewController.js"></script>
<script type="text/javascript" src="/Scripts/Controllers/Hire/ExternalLiveController.js"></script>
<script type="text/javascript" src="/Scripts/Controllers/Hire/ICSController.js"></script>
<script type="text/javascript" src="/Scripts/Controllers/Hire/HireController.js"></script>
<script type="text/javascript" src="/Scripts/Controllers/Hire/CandidatesController.js"></script>
<script type="text/javascript" src="/Scripts/Controllers/Hire/LiveController.js"></script>
<script type="text/javascript" src="/Scripts/Controllers/Hire/InterviewController.js"></script>
<script type="text/javascript" src="/Scripts/Controllers/Hire/ReportController.js"></script>
<script type="text/javascript" src="/Scripts/Controllers/Hire/HireShareLinkController.js"></script>
<script type="text/javascript" src="/Scripts/Controllers/Hire/ExternalHireShareLinkController.js"></script>
<script type="text/javascript" src="/Scripts/Controllers/Hire/PreviewController.js"></script>

<!-- Services -->
<script type="text/javascript" src="/Scripts/Services/DashboardService.js"></script>
<script type="text/javascript" src="/Scripts/Services/LoginService.js"></script>
<script type="text/javascript" src="/Scripts/Services/ContentService.js"></script>
<script type="text/javascript" src="/Scripts/Services/NotificationsService.js"></script>
<script type="text/javascript" src="/Scripts/Services/SettingsService.js"></script>
<script type="text/javascript" src="/Scripts/Services/ThriveService.js"></script>
<script type="text/javascript" src="/Scripts/Services/SearchService.js"></script>
<script type="text/javascript" src="/Scripts/Services/EmailTemplateService.js"></script>
<script type="text/javascript" src="/Scripts/Services/FileUploadService.js"></script>
<script type="text/javascript" src="/Scripts/Services/CandidateDashboardService.js"></script>
<script type="text/javascript" src="/Scripts/Services/PrivacyAndTermsService.js"></script>

<!--Hire Services-->
<script type="text/javascript" src="/Scripts/Services/Hire/LiveService.js"></script>
<script type="text/javascript" src="/Scripts/Services/Hire/HireService.js"></script>
<script type="text/javascript" src="/Scripts/Services/Hire/CandidatesService.js"></script>
<script type="text/javascript" src="/Scripts/Services/Hire/InterviewService.js"></script>
<script type="text/javascript" src="/Scripts/Services/Hire/ReviewerService.js"></script>
<script type="text/javascript" src="/Scripts/Services/Hire/ExternalReviewService.js"></script>
<script type="text/javascript" src="/Scripts/Services/Hire/ExternalLiveService.js"></script>
<script type="text/javascript" src="/Scripts/Services/Hire/ICSService.js"></script>
<script type="text/javascript" src="/Scripts/Services/Hire/InterviewTemplateService.js"></script>
<script type="text/javascript" src="/Scripts/Services/Hire/ReportService.js"></script>
<script type="text/javascript" src="/Scripts/Services/Hire/HireShareLinkService.js"></script>
<script type="text/javascript" src="/Scripts/Services/Hire/ExternalHireShareLinkService.js"></script>
<script type="text/javascript" src="/Scripts/Services/Hire/PreviewService.js"></script>

<!-- Directives-->
<script type="text/javascript" src="/Scripts/Directives/accountList.js"></script>
<script type="text/javascript" src="/Scripts/Directives/userList.js"></script>
<script type="text/javascript" src="/Scripts/Directives/Thrive/Settings/systemSettings.js"></script>
<script type="text/javascript" src="/Scripts/Directives/Thrive/Settings/generalSettings.js"></script>
<script type="text/javascript" src="/Scripts/Directives/Thrive/Settings/securitySettings.js"></script>
<script type="text/javascript" src="/Scripts/Directives/Thrive/Settings/brandingSettings.js"></script>
<script type="text/javascript" src="/Scripts/Directives/widgetButton.js"></script>
<script type="text/javascript" src="/Scripts/Directives/langaugeOptionsDropdown.js"></script>
<script type="text/javascript" src="/Scripts/Directives/onRepeatComplete.js"></script>
<script type="text/javascript" src="/Scripts/Directives/recorderDirective.js"></script>
<script type="text/javascript" src="/Scripts/Directives/listClickout.js"></script>
<script type="text/javascript" src="/Scripts/Directives/accountDropdown.js"></script>
<script type="text/javascript" src="/Scripts/Directives/tableTags.js"></script>
<script type="text/javascript" src="/Scripts/Directives/searchTags.js"></script>
<script type="text/javascript" src="/Scripts/Directives/addTags.js"></script>
<script type="text/javascript" src="/Scripts/Directives/listTags.js"></script>
<script type="text/javascript" src="/Scripts/Directives/editTags.js"></script>
<script type="text/javascript" src="/Scripts/Directives/backgroundImage.js"></script>
<script type="text/javascript" src="/Scripts/Directives/fileModel.js"></script>
<script type="text/javascript" src="/Scripts/Directives/sidePanelClickout.js"></script>
<script type="text/javascript" src="/Scripts/Directives/embedSrc.js"></script>
<script type="text/javascript" src="/Scripts/Directives/fileType.js"></script>
<script type="text/javascript" src="/Scripts/Directives/resourceType.js"></script>
<script type="text/javascript" src="/Scripts/Directives/ownerType.js"></script>
<script type="text/javascript" src="/Scripts/Directives/userRoles.js"></script>
<script type="text/javascript" src="/Scripts/Directives/appStoreImage.js"></script>

<!-- Hire Directives-->
<script type="text/javascript" src="/Scripts/Directives/Hire/Prerecorded/candidateExperience.js"></script>
<script type="text/javascript" src="/Scripts/Directives/Hire/Prerecorded/candidateRtcExperience.js"></script>
<script type="text/javascript" src="/Scripts/Directives/Hire/Review/reviewerExperience.js"></script>
<script type="text/javascript" src="/Scripts/Directives/Hire/Live/liveExperience.js"></script>
<script type="text/javascript" src="/Scripts/Directives/Hire/Share/sharelinkExperience.js"></script>
<script type="text/javascript" src="/Scripts/Directives/Hire/Settings/moduleGeneralSettings.js"></script>
<script type="text/javascript" src="/Scripts/Directives/Hire/Settings/moduleDefaultSettings.js"></script>
<script type="text/javascript" src="/Scripts/Directives/Hire/Settings/moduleProvisioningSettings.js"></script>
<script type="text/javascript" src="/Scripts/Directives/Hire/Settings/moduleBrandingSettings.js"></script>
<script type="text/javascript" src="/Scripts/Directives/Hire/Settings/moduleContractSettings.js"></script>
<script type="text/javascript" src="/Scripts/Directives/Hire/Settings/moduleNoneActive.js"></script>

<!-- Other-->
<script type="text/javascript" src="/Scripts/Recorder.js"></script>
<script type="text/javascript" src="/Scripts/Functions.js"></script>
<script type="text/javascript" src="/Scripts/AudioRecorder/recorderjs/recorder.js"></script>
<script type="text/javascript" src="/Scripts/AudioRecorder/main.js"></script>
<script type="text/javascript" src="Environment.js"></script>

<script type="text/javascript">
	(function()
	{
		try
		{
			if (environment == "PROD")
				Bugsnag.releaseStage = "production";
			else if (environment = "BETA")
				Bugsnag.releaseStage = "release";
			else
				Bugsnag.releaseStage = "dev";
		} catch (e){ }
	})();
</script>

<!-- Google Analytics -->
<script type="text/javascript" src="/Scripts/GAnalytics.js"></script>

<html lang="en" ng-app="thriveApp" class="height-100">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=1000, initial-scale=0.5, minimum-scale=0, maximum-scale=1.0">
    <meta name="apple-itunes-app" content="app-id=1132907622, affiliate-data=, app-argument=">

    <title>Thrive - InterviewStream</title>


</head>
<body ng-controller="ThriveController" class="height-100">
    <!-- START TOP -->
    <div id="top" class="clearfix hide">

        <!-- Start App Logo -->
        <div class="applogo">
            <a href="#/Dashboard">
                <img class="logo" src="/Content/Images/InterviewStream-LogoWhite.png" alt="InterviewStream Color Logo" />
            </a>
        </div>
        <div class="applogo-sm">
            <a href="#/Dashboard">
                <img class="logo" src="/Content/Images/InterviewStream-LogoWhite-Sm.png" alt="InterviewStream Color Logo" />
            </a>
        </div>
        <!-- End App Logo -->
        <!-- Start Sidebar Show Hide Button -->
        <a ng-click="toggleSidebar()" class="sidebar-open-button cursor-pointer"><i class="fa fa-bars"></i></a>
        <a ng-click="toggleSidebar()" class="sidebar-open-button-mobile cursor-pointer"><i class="fa fa-bars"></i></a>
        <!-- End Sidebar Show Hide Button -->
        <!-- Start Top Menu -->
        <!-- End Top Menu -->
        <!-- Start Top Right -->
        <ul class="top-right">


            <!-- Start Searchbox -->
            <!-- End Searchbox -->
            <!--<li class="dropdown link Inbox">
                <a ui-sref="Search"><i class="material-icons">search</i></a>
            </li>
            <!--<li class="dropdown link Inbox">
                <a ui-sref="Notifications"><i class="material-icons">inbox</i><div ng-show="unreadNotifications.count > 0"id="inbox-msg-alert">{{unreadNotifications.count}}</div></a>
            </li>-->
            <li class="dropdown link Inbox">
                <a ui-sref="Settings.Profile()"><i class="material-icons">settings</i></a>
            </li>
            <li class="dropdown link cursor-pointer">
                <a ng-click="toggleSidepanel()" side-panel-clickout class="sidepanel-open-button"><img class="avatar" ng-src="{{User.AvatarUri}}" alt="img"></a>
            </li>

        </ul>
        <!-- End Top Right -->

    </div>
    <!-- END TOP -->
    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- START SIDEBAR -->
    <div id="sidebar" class="sidebar clearfix hide">

        <ul class="sidebar-panel nav">
            <li class="sidetitle">MAIN</li>
            <li><a ui-sref="Dashboard" id="SideDashboard" class="waves-effect"><i class="material-icons font-sz-14p">home</i> Home</a></li>
            <li>
                <a class="waves-effect waves-hire active" id="SideTools"><i class="material-icons font-sz-14p">build</i> Tools</a>
                <ul>
                    <li><a ui-sref="Content.ThriveResources" id="SideContent" class="waves-effect"> Content Management</a></li>
                    <li ng-show="AccountPermissions.Module.Hire == true"><a ui-sref="EmailTemplateEditor" id="SideEmailEditor" class="waves-effect"> Email Templates</a></li>
                    <li ng-show="AccountPermissions.Module.HireLive == true"><a ui-sref="Live({ID: User.ID})" id="SideLive" class="waves-effect"> Calendar</a></li>
                    <li ng-show="AccountPermissions.Module.CreateTrialAccounts == true"><a ng-click="CreateNewTrial()" class="waves-effect thrive-redImp"> Create New Free Trial</a></li>
                    <li ng-show="AccountPermissions.Module.IsAdmin == true"><a ui-sref="Settings.PowerSearch" class="waves-effect thrive-redImp"> PowerSearch</a></li>
                </ul>
            </li>
        </ul>

        <ul class="sidebar-panel nav">
            <li class="sidetitle" ng-show="AccountPermissions.Module.Hire == true">MODULES</li>
            <li ng-show="AccountPermissions.Module.Hire == true">
                <a ui-sref="Hire.Jobs" class="waves-effect waves-hire active" id="SideParentHire"><div data-icon="h" class="icon thrive-text-color"></div>Hire</a>
                <ul>
                    <li class="cursor-pointer"><a ng-click="GoToHireManager()" id="SideJob" class="waves-effect">Manage</a></li>
                    <!--<li ng-show="AccountPermissions.Module.HirePrerecorded == true"><a ui-sref="InterviewTemplate" id="SideInterviewTemplate" class="waves-effect">Interview Templates</a></li>-->
                    <li ng-show="AccountPermissions.Module.HirePrerecorded == true ||AccountPermissions.Module.HireLive == true"><a ui-sref="Candidates" id="SideCandidates" class="waves-effect">Candidate Profiles</a></li>
                    <li ng-show="AccountPermissions.Module.HirePrerecorded == true"><a ui-sref="Reviewers" id="SideReviewer" class="waves-effect">Reviewer Profiles</a></li>
                    <li ng-show="AccountPermissions.Module.HirePrerecorded == true"><a ui-sref="HireShareLinks" id="SideShareLinks" class="waves-effect">Share Links</a></li>
                    <li ng-show="AccountPermissions.Module.HireReporting == true"><a ui-sref="Reporting" id="SideReports" class="waves-effect">Reporting</a></li>
                    <li ng-show="AccountPermissions.Module.HireEnterprise == true"><a href="{{AccountPermissions.Module.HireLinkToEnterprise}}" target="_blank" class="waves-effect">Go to Enterprise</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- END SIDEBAR -->
    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- START CONTENT -->
    <div ui-view class="height-100"></div>
    <!-- End Content -->
    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- START SIDEPANEL -->
    <div role="tabpanel" class="sidepanel">

        <!-- Nav tabs -->
        <uib-tabset>
            <!-- "ME" TAB-->
            <uib-tab>
                <uib-tab-heading class="noselect">
                    ME
                </uib-tab-heading>
                <div id="me-sidepanel" class="noselect">
                    <div class="me-container">
                        <!-- Avatar, location, view profile -->
                        <div class="me-panel-title noselect">
                            <img class="icon avatar-lg profile noselect" ng-src="{{User.AvatarUri}}" alt="img">
                            <h1 class="noselect cursor-norm">{{User.FirstName}} {{User.LastName}}</h1>

                            <p class="no-margin noselect cursor-norm"><strong><i class="fa fa-map-marker"></i> {{User.Account.Name}}</strong></p>
                        </div>
                        <hr />
                        <!-- view profile -->
                        <div id="view-profile">
                            <button ng-hide="$state == 'CandidateDashboard'" id="profileBtn" class="btn thrive-button-preview text-color-white noselect" ui-sref="Settings.Profile({'Account': 'Root'})">View Profile</button>
                        </div>
                        <!-- Log out-->
                        <div id="sign-out">
                            <button class="btn thrive-button-1 noselect" ng-click="signOut()">Sign Out</button>
                        </div>
                        <div class="copywrite-and-links noselect cursor-norm">
                            <p class="thrive-text-color no-margin noselect">Copyright {{year}} InterviewStream, Inc.</p>
                            <p class="thrive-text-color no-margin noselect">All rights reserved.</p>
                            <div class="terms-links noselect">
                                <a href="http://www.interviewstream.com" target="_blank">InterviewStream</a> |
                                <a target="_blank" href="{{TermsOfServiceUrl}}">Terms</a> |
                                <a target="_blank" href="{{PrivacyPolicyUrl}}">Privacy</a>
                            </div>
                        </div>
                    </div>
                </div>
            </uib-tab>
            <!-- "HELPFUL TIPS" TAB-->
            <uib-tab>
                <uib-tab-heading>
                    HELP
                </uib-tab-heading>
                <div id="HelpTab">
                    <div class="help-link-section">
                        <h5 class="noselect cursor-norm">Helpful Tips</h5>
                        <div class="help-link-container noselect">
                            <p ng-repeat="link in HelpLinks">
                                <a ng-if="link.Type == '1'" target="_blank" href="{{link.URL}}" class="help-link-links">{{link.Name}}</a>
                            </p>
                            <p ng-repeat="link in GlobalHelpLinks">
                                <a ng-if="link.Type == '1'" target="_blank" href="{{link.URL}}" class="help-link-links font-w-bold">{{link.Name}}</a>
                            </p>
                        </div>
                    </div>
                    <div id="contact-support" class="center">
                        <h5 class="noselect cursor-norm">Report an Issue</h5>
                        <button class="btn thrive-button-1 waves-effect" ng-click="reportIssueRequest()">Click Here</button>
                    </div>
                    <!--<div id="contact-support">
                        <h5 class="noselect cursor-norm">Contact Support</h5>
                        <div class="text-left noselect">
                            <p class="noselect cursor-norm">Name</p>
                            <input required id="contact-support-name" ng-model="HelpfulTipsTab.supportMsgName" placeholder="Enter name here" class="noselect thrive-input-color" />
                            <p class="noselect cursor-norm">Message</p>
                            <input required id="contact-support-msg" ng-model="HelpfulTipsTab.supportMsg" placeholder="Enter message here" class="noselect thrive-input-color" />
                            <button class="btn thrive-button-1 noselect" ng-click="submitSupportMsg()">SUBMIT</button>
                        </div>
                    </div>-->
                </div>
            </uib-tab>
            <!-- "FEEDBACK" TAB-->
            <!--<uib-tab>
                <uib-tab-heading class="noselect">
                    FEEDBACK
                </uib-tab-heading>
                <div id="FeedbackTab" class="noselect">
                    <div id="ratings" class="noselect">
                        <h5 class="noselect cursor-norm">Rate your overall experience using InterviewStream</h5>
                        <div id="stars" class="noselect cursor-norm">
                            <uib-rating ng-model="FeedbackTab.stars" max="5" ng-click="$event.stopPropagation()"></uib-rating>
                        </div>
                        <p class="noselect cursor-norm">Comment</p>
                        <textarea id="feedback-comment" ng-model="FeedbackTab.ratingComment" placeholder="Enter comments here" class="noselect thrive-input-color" onkeypress="preventEnterKeypress(event)" onclick="autosizeTextbox('#feedback-comment')" onkeyup="autosizeTextbox('#feedback-comment')"></textarea>
                        <button class="btn thrive-button-1" ng-click="submitExperienceRating()">SUBMIT</button>
                    </div>
                    <div id="suggestions">
                        <h5 class="noselect cursor-norm">Have a feature suggestion?</h5>
                        <textarea required id="feedback-suggestion" ng-model="FeedbackTab.featureSuggestion" placeholder="Enter your suggestions here" class="noselect thrive-input-color" onkeypress="preventEnterKeypress(event)" onclick="autosizeTextbox('#feedback-suggestion')" onkeyup="autosizeTextbox('#feedback-suggestion')"></textarea>
                        <br />
                        <button class="btn thrive-button-1 noselect" ng-click="submitFeatureSuggestion()">SUBMIT</button>
                    </div>
                    <div id="manager-message">
                        <h5 class="noselect cursor-norm">Contact Your Account Manager</h5>
                        <img class="icon avatar-lg profile" src="/Content/Images/DefaultAvatar.png" alt="Account Manager Photo">
                        <h6 class="noselect cursor-norm">Account Manager Name</h6>
                        <div class="text-left">
                            <p class="noselect cursor-norm">Name</p>
                            <input required id="feedback-contact-name" class="noselect thrive-input-color" ng-model="FeedbackTab.managerMsgName" placeholder="Enter name here" />
                            <p class="noselect cursor-norm">Message</p>
                            <textarea required id="feedback-contact-msg" class="noselect thrive-input-color" ng-model="FeedbackTab.managerMsg" placeholder="Enter message here" onkeypress="preventEnterKeypress(event)" onclick="autosizeTextbox('#feedback-contact-msg')" onkeyup="autosizeTextbox('#feedback-contact-msg')"></textarea>
                            <button class="btn thrive-button-1 noselect" ng-click="submitManagerMsg()">SUBMIT</button>
                        </div>
                    </div>
                </div>
            </uib-tab>-->
        </uib-tabset>
    </div>
</body>
</html>